<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd"
>
    <type name="Hyva\CheckoutAutoComplete\Model\AddressAutoCompleteServiceAdapterProvider">
        <arguments>
            <argument name="adapters" xsi:type="array">
                <item name="postcode_nl" xsi:type="object">Elgentos\HyvaCheckoutFlektoPostcode\Model\AddressAutoCompleteServiceAdapter\PostcodeNL</item>
            </argument>
        </arguments>
    </type>
</config>
